@mixin hover-underline($color: $secondary) {
	display: inline-block;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: -2px;
		left: 0;
		color: inherit;
		background-color: currentColor;
		transform-origin: bottom right;
		transition: transform $transition-time ease-out;
	}

	&:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}
