/*
*  -----------------------------------------------------------------------
*  🍓 Strawberry (Pink/Red)
*  ----------------------------------------------------------------------- */
$strawberry: #ED5565;
$strawberry-shade: #D8434D;

/*
*  -----------------------------------------------------------------------
*  🌺 Hibiscus (Red)
*  ----------------------------------------------------------------------- */
$hibiscus: #ED5F55;
$hibiscus-shade: #D84D43;

/*
*  -----------------------------------------------------------------------
*  🥕 Carrot (Orange)
*  ----------------------------------------------------------------------- */
$carrot: #F87E51;
$carrot-shade: #E8663F;

/*
*  -----------------------------------------------------------------------
*  🎃 Pumpkin (Lighter Orange)
*  ----------------------------------------------------------------------- */
$pumpkin: #FAB154;
$pumpkin-shade: #F49B42;

/*
*  -----------------------------------------------------------------------
*  🌻 Sunflower (Yellow)
*  ----------------------------------------------------------------------- */
$sunflower: #FCCE54;
$sunflower-shade: #F5BA42;

/*
*  -----------------------------------------------------------------------
*  🥑 Avocado (Light green)
*  ----------------------------------------------------------------------- */
$avocado: #C3D367;
$avocado-shade: #B1C151;

/*
*  -----------------------------------------------------------------------
*  🌱 Grass (Green)
*  ----------------------------------------------------------------------- */
$grass: #98D468;
$grass-shade: #82C250;

/*
*  -----------------------------------------------------------------------
*  💚 Emerald (Smooth green)
*  ----------------------------------------------------------------------- */
$emerald: #42CC6F;
$emerald-shade: #3AB75D;

/*
*  -----------------------------------------------------------------------
*  🍃 Mint (Green/Cyan)
*  ----------------------------------------------------------------------- */
$mint: #48CEC1;
$mint-shade: #3ABDAF;

/*
*  -----------------------------------------------------------------------
*  💎 Diamond (Light blue)
*  ----------------------------------------------------------------------- */
$diamond: #4FC2E8;
$diamond-shade: #3BB1D9;

/*
*  -----------------------------------------------------------------------
*  👖 Jeans (Blue)
*  ----------------------------------------------------------------------- */
$jeans: #5C9EED;
$jeans-shade: #4A8CDB;

/*
*  -----------------------------------------------------------------------
*  👑 Royal (Blue/Purple)
*  ----------------------------------------------------------------------- */
$royal: #9398EC;
$royal-shade: #7177D6;

/*
*  -----------------------------------------------------------------------
*  💐 Lavender (Purple)
*  ----------------------------------------------------------------------- */
$lavender: #CB93EC;
$lavender-shade: #B377D8;

/*
*  -----------------------------------------------------------------------
*  👛 Purse (Pink)
*  ----------------------------------------------------------------------- */
$purse: #EC87C0;
$purse-shade: #D770AD;

/*
*  -----------------------------------------------------------------------
*  📄 Paper (Light gray)
*  ----------------------------------------------------------------------- */
$paper: #F0F2F4;
$paper-shade: #E1E4E7;

/*
*  -----------------------------------------------------------------------
*  📁 Concrete (Gray)
*  ----------------------------------------------------------------------- */
$concrete: #C6CCD4;
$concrete-shade: #A5ADB8;

/*
*  -----------------------------------------------------------------------
*  ♣️ Asphalt (Dark gray)
*  ----------------------------------------------------------------------- */
$asphalt: #606873;
$asphalt-shade: #3F464F;
