/*
*  -----------------------------------------------------------------------
*  😍 Color scheme
*  ----------------------------------------------------------------------- */
$main: $paper; // Set the main color here
$main-darker: $paper-shade; // Set the main shade color here
$main-lighter: lighten($main, 15%);

$secondary: $asphalt; // Set the secondary color here
$secondary-darker: $asphalt-shade; // Set the secondary shade color here
$secondary-lighter: lighten($secondary, 15%);

$text: #1D1D1D;
$text-lighter: lighten($text, 25%);
