/*
*  -----------------------------------------------------------------------
*  ⚙️ Put defaults in here for consistency
*  ----------------------------------------------------------------------- */
$transition-easing: $easeOutQuart;
$transition-time: .25s;

$border-radius: 2px;

$shadow-color: #000;
$shadow-offset-x: 0;
$shadow-offset-y: 0;
$shadow-radius: 10px;
$shadow-opacity: .07;
