<!DOCTYPE html>
<html lang={{language}}>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/{{output.cssFileName}}">
	</head>
	<body>
		<h1>Hello World</h1>

		<script src="/js/{{output.jsFileName}}"></script>
		{{> shared/analytics tracking=google.analyticsId}}
	</body>
</html>
